* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #1A374D;
  --dark-cold-blue-: #406882;
  --cold-blue: #6998AB;
  --body-secondary-bg-color: #B1D0E0;
}

body {
  height: 100vh;

  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 100%;
}

.container section {
  flex: 1 25%;
}

.container section:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8rem;

  background-image: url('../images/herbs.png');
  background-repeat: no-repeat;
  background-size: contain;
}

section:first-child header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
  padding: 0.8rem 2rem;
}

section:first-child div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 2rem;

  width: 100%;
}

.content form {
  width: 36.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 0;

  border-bottom: 0.1rem solid var(--body-bg-color);
}

.content form input[type="search"] {
  border: 0;
  width: 45rem;
  height: 2rem;
  
  background-color: transparent;
}

.content form input[type="search"]:focus {
  outline: 0;
}

.content form label img {
  width: 2rem;
  height: 2rem;
}

.content div.information p {
  font: normal normal 400 normal 1.5em/1.5 "Poppins", sans-serif;
}

.content h2 {
  font: normal normal 500 normal 8em "Poppins", sans-serif;

  margin-top: 1rem;
}

section:first-child header > nav > ul {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 2rem;
}

section:first-child header > nav > ul > li > a {
  text-decoration: none;
  color: var(--body-bg-color);

  padding: 0.8rem;
}

section:first-child header > nav ul li:last-child {
  border: 0.2rem solid var(--body-bg-color);
  padding: 0.4rem;
}

.container section:nth-child(odd) {
  background-color: var(--body-secondary-bg-color);
  color: var(--body-bg-color);
}

.container section:nth-child(even) {
  background-color: var(--body-bg-color);
  color: var(--body-secondary-bg-color);
}
