* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #1A374D;
  --dark-cold-blue: #406882;
  --cold-blue: #6998AB;
  --body-secondary-bg-color: #B1D0E0;
}

body {
  height: 100vh;

  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0;

  height: 400%;
}

.container section {
  height: 25%;
}

.container section:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8rem;

  background-image: url('../images/herbs.png');
  background-repeat: no-repeat;
  background-size: fill;
}

section:first-child header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
  padding: 0.8rem 2rem;
}

section:first-child div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 2rem;

  width: 100%;
}
/* TODO: add text information on the search input */
.content form {
  width: 36.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 0;

  border-bottom: 0.1rem solid var(--body-bg-color);
}

.content form input[type="search"] {
  border: 0;
  width: 45rem;
  height: 2rem;
  
  background-color: transparent;
}

.content form input[type="search"]:focus {
  outline: 0;
}

.content form label img {
  width: 2rem;
  height: 2rem;
}

.content div.information p {
  font: normal normal 400 normal 1.5rem/1.5 "Poppins", sans-serif;
}

.content h2 {
  font: normal normal 500 normal 8rem "Poppins", sans-serif;

  margin-top: 1rem;
}

section:first-child header > nav > ul {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 2rem;
}

section:first-child header > nav > ul > li > a {
  text-decoration: none;
  color: var(--body-bg-color);

  padding: 0.8rem;

  text-transform: uppercase;
  font-weight: bold;
}

section:first-child header > nav ul li:last-child {
  border: 0.2rem solid var(--body-bg-color);
  padding: 0.4rem;
}

.container section:nth-child(odd) {
  background-color: var(--body-secondary-bg-color);
  color: var(--body-bg-color);
}

.container section:nth-child(even) {
  background-color: var(--body-bg-color);
  color: var(--body-secondary-bg-color);
}

button {
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  text-transform: capitalize;
}

.natural-medicines .presentation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  padding: 0 6.5rem;

  position: relative;

  height: 100%;
}

.natural-medicines .presentation::after {
  content: "";
  
  position: absolute;
  top: 0rem;
  right: 42.5rem;

  width: 0.0625rem;
  height: 100%;

  background-color: var(--cold-blue);
}

.natural-medicines .presentation h2 {
  margin-top: 10rem;
  
  padding-left: 0.5rem;

  font: normal normal bold normal 3.2rem "Poppins", sans-serif;

  position: relative;
}

.natural-medicines .presentation h2::before {
  content: "";
  
  position: absolute;
  top: -10rem;
  left: 0;

  width: 0.0625rem;
  height: 13.4375rem;

  background-color: var(--cold-blue);
}

.natural-medicines .presentation p {
  opacity: 0.5;
  margin-left: 0.5rem;

  width: 29.7109375rem;
  font: normal normal 400 normal 1rem "Poppins", sans-serif; 
}

.natural-medicines .presentation button:last-child {
  border: 0;

  padding: 1rem;
  margin-left: 0.5rem;

  color: var(--body-bg-color);
  background-color: var(--cold-blue);
}