* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #1a374d;
  --dark-cold-blue: #406882;
  --cold-blue: #6998ab;
  --body-secondary-bg-color: #b1d0e0;
}

body {
  height: 100vh;

  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0;

  height: 400%;
}

.container section {
  height: 25%;
}

.container section:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8rem;

  background-image: url('../images/herbs.png');
  background-repeat: no-repeat;
  background-size: fill;
}

section:first-child header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0.8rem 2rem;
}

section:first-child div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 2rem;

  width: 100%;
}

.content form {
  width: 36.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 0;

  border-bottom: 0.1rem solid var(--body-bg-color);

  position: relative;

  z-index: 1;
}

.content form span {
  position: absolute;
  left: 2rem;

  font: normal normal 300 normal 1.5rem 'Poppins', sans-serif;

  z-index: -1;
}

.content form input[type='search'] {
  border: 0;
  width: 45rem;
  height: 2rem;

  background-color: transparent;
}

.content form input[type='search']:focus {
  outline: 0;

  caret-color: var(--body-bg-color);
}

.content form label img {
  width: 2rem;
  height: 2rem;

  cursor: pointer;
}

.content div.information p {
  font: normal normal 400 normal 1.5rem/1.5 'Poppins', sans-serif;
}

.content h2 {
  font: normal normal 500 normal 8rem 'Poppins', sans-serif;

  margin-top: 1rem;
}

section:first-child header > nav > ul {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 2rem;
}

section:first-child header > nav > ul > li > a {
  text-decoration: none;
  color: var(--body-bg-color);

  padding: 0.8rem;

  text-transform: uppercase;
  font-weight: bold;
}

section:first-child header > nav ul li:last-child {
  border: 0.2rem solid var(--body-bg-color);
  padding: 0.4rem;
}

.container section:nth-child(odd) {
  background-color: var(--body-secondary-bg-color);
  color: var(--body-bg-color);
}

.container section:nth-child(even) {
  background-color: var(--body-bg-color);
  color: var(--body-secondary-bg-color);
}

button {
  text-transform: uppercase;
  font-weight: bold;

  width: 9.4668125rem;

  cursor: pointer;
}

h2 {
  text-transform: capitalize;
}

.natural-medicines {
  background: url('../images/licorice.png') no-repeat top right;
}

.natural-medicines .presentation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  padding: 0 6.5rem;

  position: relative;

  height: 100%;
}

.natural-medicines .presentation::after {
  content: '';

  position: absolute;
  top: 0rem;
  right: 42.5rem;

  width: 0.0625rem;
  height: 135%;

  background-color: var(--cold-blue);
}

.natural-medicines .presentation h2 {
  margin-top: 10rem;

  padding-left: 0.5rem;

  font: normal normal bold normal 3.2rem 'Poppins', sans-serif;

  position: relative;
}

.natural-medicines .presentation h2::before {
  content: '';

  position: absolute;
  top: -10rem;
  left: 0;

  width: 0.0625rem;
  height: 13.4375rem;

  background-color: var(--cold-blue);
}

.natural-medicines .presentation p {
  opacity: 0.5;
  margin-left: 0.5rem;

  width: 29.7109375rem;
  font: normal normal 400 normal 1rem 'Poppins', sans-serif;
}

.natural-medicines .presentation button:last-child {
  border: 0;

  padding: 1rem;
  margin-left: 0.5rem;

  color: var(--body-bg-color);
  background-color: var(--cold-blue);
}

.opinions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;

  padding: 0 6.5rem;

  gap: 0rem;
}

.opinions .market {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 2rem;
}

.opinions .market,
.opinions .client-opinion {
  width: 50%;
}

.market h2 {
  margin-top: 5rem;

  padding-left: 0.5rem;

  font: normal normal bold normal 3.2rem 'Poppins', sans-serif;
}

.market p {
  margin-left: 0.5rem;

  font: normal normal 400 normal 1rem 'Poppins', sans-serif;
}

.market button {
  border: 0;

  padding: 1rem;
  margin-left: 0.5rem;

  color: var(--body-secondary-bg-color);
  background-color: var(--cold-blue);
}

.opinions .client-opinion {
  padding-left: 0.5rem;
}

.client-opinion p {
  font: normal normal 400 normal 1rem 'Poppins', sans-serif;
}

.client-opinion p:first-child {
  opacity: 0.4;
}

.client-opinion p:last-child {
  padding-top: 0.5rem;

  font-weight: 500;
}

.container aside:last-child {
  height: 25%;

  background-color: var(--cold-blue);
  color: var(--dark-cold-blue);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  gap: 1rem;
}

aside:last-child h2 {
  font: normal normal bold normal 3.2rem 'Poppins', sans-serif;
  margin-top: -8.8rem;
}

aside:last-child form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  position: relative;

  line-height: 0;

  width: 100%;

  z-index: 1;
}

aside:last-child form span {
  position: absolute;
  top: 0.6rem;
  left: 26rem;

  font: normal normal 300 normal 1.5rem 'Poppins', sans-serif;

  z-index: -1;
}

aside:last-child form input[type='search'] {
  outline: 0;

  background-color: transparent;

  width: 25rem;
  padding: 1rem;
  border: 0.2rem solid var(--dark-cold-blue);
}

aside:last-child form button {
  border: 0;
  padding: 1rem;

  height: 3.3359375rem;

  background-color: var(--dark-cold-blue);
  color: var(--cold-blue);
}

aside:last-child nav {
  width: 70%;
}

aside:last-child nav > ul {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside:last-child nav > ul li a {
  text-decoration: none;

  color: var(--dark-cold-blue);
}

::selection {
  background-color: var(--cold-blue);
}